.label-view-table {
    .label-view-datepicker {
        label {
            margin-top: 1vh;
            width: 6.5vw;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
        }
        .ant-picker {
            width: 50%;
            border: 1px solid #727288;
            .ant-picker-suffix {
                color: #ff7506;
            }
        }
    }
    .search-bar {
        position: relative;
        padding: 0;
        padding-bottom: 2vh;
        width: 25vw !important;
        .icon-search{
            top: 40% !important;
        }
    }
}
.label-list-record {
    label {
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #e5e5e5;
    }
}
.label-action-revenue{
    color: #FF7506;
    text-decoration: underline;
    cursor: pointer;
}