.month-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #3b3e55;
    color: #ffffff;
    width: 100%;
    height: 72px;

    .show-month {
        font-size: 20px;

        i {
            cursor: pointer;
        }
    }

    .custom-datepicker {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;

        .antd-daypicker {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;

            .ant-picker-clear {
                display: none !important;
            }
        }

        .icon-datepicker {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-size: 17px;
            width: 30px;
            color: #000;
            background-color: #939393;
            padding: 7px;
            border-radius: 8px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


}
.ant-picker-month-panel{
    .ant-picker-cell .ant-picker-cell-inner {
        height: 50px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .ant-picker-content {
        tbody {
            tr {
                display: flex !important;
                justify-content: space-between !important;

            }
        }
    }
}