@import "../../styles/variable";

.ant-modal-header {
  border-radius: 10px 10px 0 0 !important;
  background: #ff7506 !important;
}
.ant-modal-title {
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 24px/33px Open Sans;
  letter-spacing: 0.36px;
  color: #ffffff;
  opacity: 1;
}
