.actionHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  .filter {
    display: flex;
    align-items: baseline;
    width: 600px;
    justify-content: space-around;
    p {
      font-size: 16px;
    }
  }
  .export {
    button {
      width: 170px;
      height: 38px;
      background-color: #ff7506;
      border: none;
      color: white;
    }
  }
  .ant-picker {
    width: 200px;
    height: 40px;
  }
}
.inforContract {
  h4 {
    font-size: 16px;
    margin-bottom: 25px;
    color: #ff7506;
  }
  .rowInfor {
    p {
      margin-bottom: 18px;
      font-size: 18px;
      color: #f1eeee96;
    }
    strong {
      font-size: 19px;
    }
    margin-bottom: 24px;
    .inforDate p {
      width: 50px;
    }
  }
}
