@import "styles/_variable.scss";
.text-chart-revenue {
  font-weight: bold;
  font-size: 1.25rem;
  color: #FFF9F4;
  display: block;
  margin-top: 6vh;
  margin-bottom: 3vh;
}
.text-chart-revenue .text-chart{
  color: white;
  font-size: 12px;
}