@use "variable";

.main-form {
  // input number
  .ant-input-number-input {
    padding: 0;
  }
  //placeholder
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color: $color-placehoder;
  }
  input.ant-input::placeholder,
  textarea::placeholder,
  .ant-picker-input > input::placeholder {
    color: $color-placehoder;
  }

  //time picker
  .ant-picker {
    width: 100%;
    .ant-picker-clear {
      display: none !important;
    }
  }

  .ant-row.ant-form-item {
    display: block;
  }

  //input
  .ant-input-focused {
    outline: none;
    box-shadow: none;
    border: 1px solid $color__yellow__second;
  }

  .ant-input,
  .ant-input-number {
    background-color: transparent;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    color: white;
    padding: 4px 20px;
    font-size: 16px;
    border-color: white;
    @include no-outline($color__yellow__second);
  }
  .ant-input-number-handler-wrap {
    background: transparent;
    border-left: 1px solid $color__yellow__second;
    .ant-input-number-handler-down,
    .ant-input-number-handler-up {
      background-color: transparent;
      border-color: $color__yellow__second;
    }
    .anticon.anticon-down,
    .anticon.anticon-up {
      color: $color__yellow__second;
    }
  }

  .ant-form-item-has-error {
    .ant-picker {
      background: transparent !important;
    }
  }

  .ant-form-item,
  .ant-input {
    font-size: 16px;
  }

  .ant-form-item-has-error .ant-input-number,
  .ant-form-item-has-error .ant-picker,
  .ant-form-item-has-error .ant-input-number:not([disabled]):hover,
  .ant-form-item-has-error .ant-picker:not([disabled]):hover {
    background-color: transparent;
  }

  .ant-select-arrow,
  .ant-form-item-label > label,
  .ant-select,
  .ant-select-clear {
    color: white;
  }

  .ant-form-item-label > label {
    font-weight: bold;
    font-size: 1rem;
  }
  .labelColor .ant-form-item-label > label {
    color: #b5b1b1;
    font-size: 16px;
  }
  .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
  }
  .labelColor .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    color: #b5b1b1;
  }

  .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: $main-font, sans-serif;
    line-height: 1;
    content: "*";
  }

  .ant-select {
    font-size: 16px;
    width: 100% !important;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 40px;
    border-radius: 5px;
    padding: 5px 20px;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    min-height: 40px;
    border-radius: 5px;
  }

  .ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
  }

  .ant-select-clear,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector,
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: $color__yellow__second;
    @include no-outline($color__yellow__second);
  }

  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-input:hover {
    background-color: transparent;
  }

  .ant-table-tbody > tr.ant-table-placeholder:hover > td {
    background: rgba(253, 253, 253, 0.377);
  }

  // ANT SELECT SEARCH
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 40px;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-search {
    left: 20px;
  }
}

//password
.ant-input-affix-wrapper {
  padding: 0 11px;
  background-color: transparent;
  border-radius: 5px;
  @include no-outline($color__yellow__second);

  .ant-input:hover {
    border: none;
  }

  .ant-input-password-icon {
    color: white;
  }

  .ant-input-focused {
    border: 1px solid $color__yellow__second;
    outline: none;
    box-shadow: none;
  }
}

.ant-input-affix-wrapper > input.ant-input:focus {
  border: none;
}

//SELECT DROPDOWN
.ant-select-dropdown {
  border-radius: 5px;
  background-color: $color-select;

  .ant-select-item.ant-select-item-option {
    color: $color-background-cancel;
  }

  .ant-select-item.ant-select-item-option.ant-select-item-option-active {
    color: white;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: $color-select-active;
    font-weight: normal;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: $color-select-active;
  }
}

//input date and time picker
.ant-picker {
  color: white;
  padding: 4px 20px;
  height: 40px;
  background: transparent;
  border: 1px solid $color--main-text;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;

  span.ant-picker-clear {
    background: $color--card;
  }

  span.anticon.anticon-close-circle {
    color: white;
  }
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: $color__yellow__second;
}

.ant-picker-suffix,
.ant-picker-input > input {
  color: white;
}
.ant-picker-input {
  &:hover {
    .ant-picker-suffix {
      //opacity: 0;
    }
    .ant-picker-clear {
      background: #2b2b3f;
      width: 18.4px;
      height: 18.4px;
    }
  }
}

.ant-picker-input > input {
  font-size: 16px;
}

.ant-picker-input > input:hover {
  border-color: $color__yellow__second;
}

//date time picker
.ant-picker-cell {
  color: rgba(255, 255, 255, 0.377);
}

.ant-picker-dropdown,
.ant-picker-header button,
.ant-picker-content th,
.ant-picker-cell-in-view,
.ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
  color: white;
}

.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
.ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
  .ant-picker-cell-inner {
  //background-color: $color__yellow;
  background: #2b2b3f;
  border-radius: 50%;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid white;
}

.ant-picker-content th {
  font-weight: 600;
}

.ant-picker-panel-container {
  background-color: $color--card;
  border-radius: $border-radius;
}

.ant-picker-panel {
  border: none;
}

.ant-picker-header {
  background-color: transparent; //$color__yellow;
  color: white;
  border: none;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: $color__yellow;
}

.ant-picker-header-view button:hover {
  color: white;
  opacity: 0.7;
}

.ant-picker-decade-panel .ant-picker-content,
.ant-picker-year-panel .ant-picker-content,
.ant-picker-quarter-panel .ant-picker-content,
.ant-picker-month-panel .ant-picker-content {
  height: unset !important;
}

.ant-picker-month-panel {
  width: 230px !important;
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background-color: $color--menu-hover;
}

button.ant-btn.ant-btn-primary.ant-btn-sm {
  color: $color__yellow;
  background: transparent;
  border-color: $color__yellow;
}

button.ant-btn.ant-btn-primary.ant-btn-sm:hover {
  background: $color__yellow;
  color: white;
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover {
  background-color: $color__yellow;
}

.ant-picker-month-panel .ant-picker-cell .ant-picker-cell-inner {
  border-radius: 10px !important;
}

.location {
  label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
  }
  input {
    color: #f5f5ff;
    height: 40px;
    background-color: #2b2b3f;
    border-radius: 8px;
    border: none;
  }
}

.basic_infor__img {
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  width: fit-content;
  img {
    width: 250px;
    height: 250px;
    border: 1px solid white;
    border-radius: 130px;
    object-fit: cover;
  }
  .icon-image {
    border-radius: 20px;
    position: absolute;
    bottom: 5%;
    left: 75%;
    transition: 0.5s;
    svg {
      width: 38px;
      height: 32px;
    }
  }
}

.input-readonly {
  label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #ffffff;
  }
  input {
    color: #878890;
    height: 40px;
    background-color: #3e3e50;
    border-radius: 8px;
    border: none;
  }
}
.label-date-picker {
  .ant-picker {
    border: none;
    background-color: #2b2b3f;
    padding: 5px;
    &:hover {
      background-color: #2b2b3f !important;
    }
    input {
      height: 38px;
    }
  }
}

.label-btn-save {
  width: 168px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #ff7506;
  color: #ffffff;
  border: none;
  &:hover {
    background-color: #ff7506;
  }
}

.label-btn-cancel {
  width: 168px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 24px;
  border: solid 1px #ff7506;
  background-color: #1e1e2e;
  color: #ff7506;
  &:hover {
    background-color: #1e1e2e;
    border: solid 1px #ff7506;
  }
}
.col-cancel {
  .ant-row {
    align-items: flex-end;
    margin-right: 0.5vw;
  }
}
.col-save {
  .ant-row {
    align-items: flex-start;
    margin-left: 0.5vw;
  }
}
/*


*/
@media only screen and (max-width: 1600px) {
  .quang-tran-form {
    .ant-radio-group .ant-radio-wrapper label,
    .ant-form-item-label label {
      font-size: 15px;
    }
  }
}
@media only screen and (max-width: 1550px) {
  .quang-tran-form {
    .ant-radio-group .ant-radio-wrapper label,
    .ant-form-item-label label {
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 1450px) {
  .quang-tran-form {
    .ant-radio-group .ant-radio-wrapper label,
    .ant-form-item-label label {
      font-size: 13px;
    }
  }
}
@media only screen and (max-width: 1400px) {
  .quang-tran-form {
    .ant-radio-group .ant-radio-wrapper label,
    .ant-form-item-label label {
      font-size: 12px;
    }
  }
}
.quang-tran-form {
  .ant-form-item-label {
    margin-right: 5px;
  }
  //input
  input {
    border: 1px solid $color__bor_input;
    background-color: #2b2b3f;
    height: 4.6vh !important;
    min-height: 33px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    &:focus {
      outline: none;
      border: 1px solid #1890ff;
    }
  }
  textarea {
    border: 1px solid #727288;
    background-color: #2b2b3f;
    height: 11vh !important;
    color: white;
    border-radius: 5px;
    &:focus {
      outline: none;
      border: 1px solid #1890ff;
    }
  }
  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-input-affix-wrapper,
  .ant-form-item-has-error .ant-input:hover,
  .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background-color: #2b2b3f;
  }
  //input password
  .ant-input-affix-wrapper {
    border: 1px solid $color__bor_input;
    background-color: #2b2b3f;
    .ant-input-password-icon {
      color: #ff7506;
      font-size: 21px;
    }
    input {
      font-size: 50px;
      font-weight: bold;
      background: none;
      &[type="text"] {
        font-size: 16px;
        font-weight: normal;
        transition: none;
      }
    }
  }
  //label
  label {
    text-align: left;
    letter-spacing: 0.27px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    opacity: 1;
    .label-note {
      font-size: 12px;
      line-height: 18px;
      color: #f5f5ff;
      opacity: 0.5;
    }
  }

  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    outline: 0;
    box-shadow: 0 0 0 1.2px #1890ff;
  }
  //red point
  .point-red {
    &:before {
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      line-height: 1;
      content: "*";
      opacity: 1;
    }
  }
  .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    line-height: 1;
    content: "*";
  }
  .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    line-height: 1;
    content: "" !important;
  }
  //input datetime
  .ant-picker {
    height: 5vh !important;
    border: 1px solid $color__bor_input !important;
    padding: 10px !important;
    min-height: 33px;
    input {
      border: none;
    }
    .ant-picker-suffix {
      color: #ff7506;
    }
    .ant-picker-clear {
      display: none !important;
    }
  }
  .ant-picker-disabled {
    background: none;
    input {
      color: #ffffff !important;
    }
    .ant-picker-suffix {
      display: none;
    }
  }

  //btn-cancel
  .btn-cancel-form {
    width: 8.5vw;
    height: 5vh;
    min-height: 43px;
    border-radius: 8px;
    font-weight: 600;
    border: solid 1px #ff7506;
    background-color: #1e1e2e;
    color: #ff7506;
    &:hover {
      background-color: #1e1e2e;
      border: solid 1px #ff7506;
    }
  }
  .btn-save-form {
    width: 8.5vw;
    height: 5vh;
    min-height: 43px;
    border-radius: 8px;
    font-weight: 600;
    background-color: #ff7506;
    color: #ffffff;
    border: none;
    &:hover {
      background-color: #ff7506;
    }
  }
  //select
  .ant-select-arrow {
    color: #ff7506;
  }
  .ant-select {
    font-size: 16px;
    color: #ffffff;
  }
  .ant-select-selector {
    height: 4.8vh !important;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 5px;
    padding: 5px 16px;
    border-color: $color__bor_input;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    // min-height: 40px;
    border-radius: 5px;
  }

  .ant-form-item-has-error .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input) .ant-select-selector {
    background-color: #2b2b3f;
  }

  .ant-select-clear,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #2b2b3f;
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector,
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: $color__yellow__second;
    @include no-outline($color__yellow__second);
  }
  //radio
  .ant-radio-group {
    margin-top: 0.6vh;
    .ant-radio-wrapper {
      label {
        font-weight: 400;
      }
      .ant-radio-inner {
        background-color: #2b2b3f !important;
      }
      .ant-radio-checked {
        .ant-radio-inner {
          background-color: #ffffff !important;
        }
      }
    }
  }
}

.ant-picker-dropdown {
  .ant-picker-panels {
    // .ant-picker-prev-icon {
    //   display: none;
    // }
    .ant-picker-header {
      .ant-picker-header-next-btn {
        visibility: initial !important;
      }
    }
    .ant-picker-panel:last-child {
      display: none;
    }
    .ant-picker-content .ant-picker-cell-in-range {
      &::before {
        background-color: #2b2b3f;
      }
      .ant-picker-cell-inner {
        background-color: #2b2b3f;
      }
    }
    .ant-picker-cell-range-start {
      &::before {
        background-color: #2b2b3f;
      }
    }
    .ant-picker-cell-range-start-single {
      &::before {
        background: none !important;
      }
    }
    .ant-picker-cell-range-end {
      &::before {
        background-color: #2b2b3f;
      }
    }
  }
  // .ant-picker-cell-range-hover,
  .ant-picker-cell-range-hover-end,
  .ant-picker-cell-range-hover-start {
    &::before {
      background: #2b2b3f !important;
    }
  }
  // .ant-picker-cell-inner :hover {
  //   background: #2b2b3f !important;
  // }
}
