@use "variable";

.main-title {
  font-size: 36px;
  font-weight: bold;
  color: $color--main-title;
  margin: 0;
  line-height: 1em;
}

.secondary-title {
  font-size: 24px;
  color: $color__yellow;
  font-weight: bold;
  margin-top: 10px;
}