@use "variable";
.main-modal {
  .ant-modal-close-x {
    display: none;
  }
  .ant-modal-body{
    margin: 24px 40px;
    padding: 0;
  }
  .ant-modal-header {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background-color: #3b3e55;
    .ant-modal-title {
      margin-top: 20px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      color: #f5f5ff;
    }
  }
  .ant-modal-footer {
    border-top: none;
    text-align: center;
    padding: 16px 0 40px 0;
    .cancel-button{
      background-color: transparent;
      &:hover{
        background-color: transparent;
      }
    }
  }
}
