.tab-custom{
    &.ant-tabs-card{
        & > .ant-tabs-nav .ant-tabs-tab{
            padding: 16px 32px;
            background: #3b3e55;
            border: 1px solid #3b3e55;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: #fff;
            &.ant-tabs-tab-active{
                border-right-color: #ff7506;
                border: 1px solid #ff7506;
                background: #ff7506;
                color: #fff;
                 .ant-tabs-tab-btn{
                    color: #fff;
                }
            }
        }
    }
    &.ant-tabs-left.ant-tabs-card{
        & > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab{
            margin: 16px 0 0 0;
          
        }
        & > .ant-tabs-nav .ant-tabs-tab{
            border-radius: 10px;
        }
        .ant-tabs-content-holder{
            margin-left: 2rem;
        }
    }
    .ant-tabs-content-holder {
      
        background: #3b3e55;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        border-left:1px solid #3b3e55;
    }
}
